<header class="main-container">
  <div class="all-header flex align-center s-between">
    <div class="logo flex align-center">
      <a routerLink=""><img class="icon" src="./assets/icons/bitcoin.png" alt=""><h1>Mister Bitcoin</h1></a>
    </div>
    <div class="bcg-bcg">

      <nav class="header-nav">
        <span><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <img class="icon" src="./assets/icons/home.png" alt="">
          </a></span>
        <span><a routerLink="/contact" routerLinkActive="active">
            <img class="icon" src="./assets/icons/users.png" alt="">
          </a></span>
        <span><a routerLink="/stats" routerLinkActive="active">
            <img class="icon" src="./assets/icons/increase.png" alt="">
          </a></span>
      </nav>
    </div>
  </div>
</header>
