@import "../../../assets/styles/setup/variables.scss";

header {

  padding: 10px 0px 10px;
  background-color: $nav;

  .all-header {
    grid-column: 2;

    .logo {
      h1 {
        color: $clr5;
      }
    }

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }

    .header-nav {
      // width: 20%;
      display: flex;
      justify-content: space-between;


      .active {
        font-weight: 600;
      }

      :not(:first-child) {
        margin-left: 40px;
      }


      .icon {
        width: 45px;
        height: 45px;
        cursor: pointer;
      }

    }
  }
}


@media (max-width: 480px) {

  header {
    padding-bottom: 0px;

    .all-header {
      flex-direction: column;
      grid-column: 1/-1;

      .logo {
        padding-bottom: 10px;
      }

      .bcg-bcg {
        background-color: rgba(101, 104, 107, 0.746);
        width: 100%;

        .header-nav {
          justify-content: center;
          padding: 10px;
        }
      }
    }
  }
}
