<div class="flex justify-center">
    <form class="contact-edit" *ngIf="contact" action="contact-edit" (ngSubmit)="onSaveContact()">
      <section class="add-nav">
        <a (click)="onBack()"><img class="icon" src="./assets/icons/back.png" alt=""></a>
        <h3>Add/Edit contact</h3>
      </section>
    <label for="name">Name</label>
    <input id="name" type="text" [(ngModel)]="contact.name" name="name" placeholder="Name" autocomplete="off">
    <label for="email">eMail</label>
    <input id="email" type="email" [(ngModel)]="contact.email" name="email" placeholder="Email" autocomplete="off">
    <label for="phone">Phone</label>
    <input id="phone" type="tel" [(ngModel)]="contact.phone" name="phone" placeholder="Phone" autocomplete="off">
    <button class="btn-af">Save</button>
  </form>
</div>
