@import "../setup/variables";
@import "../setup/typography";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Poppings, "Segoe UI", sans-serif;
    font-size: 16px;
    color: $font;
}

body {
    margin: 0;
    background-color: $clr5;
    color: $font;
}

// img {
//     width: 100%;
// }

input {
    margin: 0;
    font-family: Poppings, "Segoe UI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Poppings, "Segoe UI", sans-serif;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 0 0;
}

h1 {
    font-size: rem(36px);
}

p {
    margin: 0 0 0rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    text-align: left;
}



// @import "../setup/typography";
// @import "../setup/variables";

// * {
//     box-sizing: border-box;
// }

// // ::selection {
// //     background-color: $clr1;
// //     color: #fff;
// // }

// html {
//     font-family: Open-Sans, sans-serif;
//     font-size: rem(18px);
//     color: $clr6;
//     background-color: $clr1;
//     line-height: 1.6;
// }

// body {
//     margin: 0;
//     // background-image: url(../../images/cats-pattern-background_1425-90.jpg);
//     // background-size: 116px;
// }

// // img {
// //     width: 100%;
// // }

// h1,h2,h3,h4,h5,h6 {
//     font-family: Semi-Bold, sans-serif;
//     font-weight: normal;
//     line-height: 1;
//     // margin: 0 0 0.6em;
// }

// h1 {
//     font-size: rem(65px);
// }

// p {
// }